<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sharma.vertosacademy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Drawer_Activity.MainPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Account_files.LoginPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Account_files.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splashscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Program_ListActivity.Programlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Subject_topic.Topiclist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Account_files.VertosAcademy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu_Activity.Menu_Activity"
            android:label="@string/title_activity_menu_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b1f0507e60a08e8f3f1149bccdbddf8fb477144c" />

        <activity
            android:name=".NoteTaker.MainNoteTaker"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NoteTaker.NoteActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>